{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Modifier une association
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">
			Modifier
			{{ associationName }}
		</h1>

		<hr>

		{{ form_start(updateAssociationForm) }}

		{% block form_row %}
			<div class="row">
				<div class="col-4">
					{{ form_label(updateAssociationForm.name) }}
					{{ form_widget(updateAssociationForm.name) }}
				</div>
				<div class="col-4">
					{{ form_label(updateAssociationForm.email) }}
					{{ form_widget(updateAssociationForm.email) }}
				</div>
				<div class="col-4">
					{{ form_label(updateAssociationForm.telephone) }}
					{{ form_widget(updateAssociationForm.telephone) }}
				</div>
			</div>
		{% endblock form_row %}

		{{ form_end(updateAssociationForm) }}
	</div>
	<div class="col-4">
		<a class="btn btn-dark" href="/associations/delete/{{ associationId }}">Supprimer</a>
	</div>
{% endblock %}
