{% extends 'base.html.twig' %}

{% block title %}Event
{% endblock %}

{% block body %}
	<h1>Event</h1>
	<table class="table">
		{% for ev in event %}
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ ev.id }}</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>{{ ev.title }}</td>
				</tr>
				<tr>
					<th>Start_at</th>
					<td>{{ ev.startAt ? ev.startAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>End_at</th>
					<td>{{ ev.endAt ? ev.endAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Options</th>
					<td>{{ ev.options ? ev.options|json_encode : '' }}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>{{ ev.status }}</td>
				</tr>
			</tbody>


		{% endfor %}
	</table>
{% endblock %}
