{% set current_path = app.request.attributes.get('_route') %}
{% if current_path  != 'main' or current_path != 'main_room'  %}
	<div class="bg-prim">
		<div class="container">
			<div>
				{% if is_granted('ROLE_ADMIN') %}
					<nav class="navbar navbar-expand-lg bg-prim rounded text-center d-flex justify-content-around">
						<a class="btn btn-ter ml-3" href="{{ path('location_add') }}">Ajouter une adresse</a>
						<a class="btn btn-ter ml-3" href="{{ path('association_add') }}">Ajouter une association</a>
						<a class="btn btn-ter ml-3" href="{{ path('user_add') }}">Ajouter un utilisateur</a>
					</nav>
					<nav class="navbar navbar-expand-lg bg-prim rounded text-center d-flex justify-content-around fixed-bottom">
						<a class="btn btn-ter ml-3" href="{{ path('location_add') }}">Ajouter une adresse</a>
						<a class="btn btn-ter ml-3" href="{{ path('association_add') }}">Ajouter une association</a>
						<a class="btn btn-ter ml-3" href="{{ path('user_add') }}">Ajouter un utilisateur</a>
					</nav>
				{% endif %}
			</div>
		</div>
	</div>
	{% else %}


{% endif %}
