<nav class="navbar navbar-expand-md fixed-top bg-prim">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="{{path('app_login')}}">Mettray</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			{% set current_path = app.request.attributes.get('_route') %}
				{% if app.user %}
					<li class="nav-item">
						{% if current_path == 'main' or current_path == 'main_room' %}
							<a class="nav-link text-white active" href="{{ path('main') }}">Mes salles</a>
						{% else %}
							<a class="nav-link text-white" href="{{ path('main') }}">Mes salles</a>
						{% endif %}
					</li>
					<li class="nav-item">
					{% if current_path == 'booking_show_all_by_user' %}
						<a class="nav-link text-white active" href="{{ path('booking_show_all_by_user') }}">Mes réservation</a>
						{% else %}
						<a class="nav-link text-white" href="{{ path('booking_show_all_by_user') }}">Mes réservation</a>
					{% endif %}
					</li>
					<li class="nav-item">
						{% if current_path == 'room' %}
						<a class="nav-link text-white active" aria-current="page" href="{{ path('room') }}">Liste des salles</a>
						{% else %}
						<a class="nav-link text-white" aria-current="page" href="{{ path('room') }}">Liste des salles</a>
						{% endif %}
					</li>
				{% endif %}
				{% if app.user %}
					{% if (app.user.roles[0] is same as ("ROLE_ADMIN")) %}
						<li class="nav-item">
						{% if current_path == 'user_index' %}
							<a class="nav-link text-white active" href="{{ path('user_index') }}">Liste des utilisateurs</a>
							{% else %}
							<a class="nav-link text-white" href="{{ path('user_index') }}">Liste des utilisateurs</a>
							{% endif %}
						</li>
						<li class="nav-item">
						{% if current_path == 'booking' %}
							<a class="nav-link text-white active" href="{{ path('booking') }}">Liste des réservations</a>
							{% else %}
							<a class="nav-link text-white" href="{{ path('booking') }}">Liste des réservations</a>
							{% endif %}
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
		<div>
			<ul class="navbar-nav">
				{% if app.user %}
					<li class="nav-item">
						{% if current_path == 'user_show' %}
							<a class="nav-link text-white active" href="{{ path('user_show',{'id': app.user.id}) }}">Profil</a>
						{% else %}
							<a class="nav-link text-white" href="{{ path('user_show',{'id': app.user.id}) }}">Profil</a>
						{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link text-bold text-sec" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				{% else %}
					<a class="nav-link text-white text-bold" href="{{ path('app_login') }}">Se connecter</a>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
</nav>
<nav class="navbar navbar-expand-md bg-prim">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="{{path('app_login')}}">Mettray</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{% set current_path = app.request.attributes.get('_route') %}
				{% if app.user %}
					<li class="nav-item">
						{% if current_path == 'main' or current_path == 'main_room' %}
							<a class="nav-link text-white active" href="{{ path('main') }}">Mes salles</a>
						{% else %}
							<a class="nav-link text-white" href="{{ path('main') }}">Mes salles</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if current_path == 'booking_show_all_by_user' %}
							<a class="nav-link text-white active" href="{{ path('booking_show_all_by_user') }}">Mes réservation</a>
						{% else %}
							<a class="nav-link text-white" href="{{ path('booking_show_all_by_user') }}">Mes réservation</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if current_path == 'room' %}
							<a class="nav-link text-white active" aria-current="page" href="{{ path('room') }}">Liste des salles</a>
						{% else %}
							<a class="nav-link text-white" aria-current="page" href="{{ path('room') }}">Liste des salles</a>
						{% endif %}
					</li>
				{% endif %}
				{% if app.user %}
					{% if (app.user.roles[0] is same as ("ROLE_ADMIN")) %}
						<li class="nav-item">
							{% if current_path == 'user_index' %}
								<a class="nav-link text-white active" href="{{ path('user_index') }}">Liste des utilisateurs</a>
							{% else %}
								<a class="nav-link text-white" href="{{ path('user_index') }}">Liste des utilisateurs</a>
							{% endif %}
						</li>
						<li class="nav-item">
							{% if current_path == 'booking' %}
								<a class="nav-link text-white active" href="{{ path('booking') }}">Liste des réservations</a>
							{% else %}
								<a class="nav-link text-white" href="{{ path('booking') }}">Liste des réservations</a>
							{% endif %}
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
		<div>
			<ul class="navbar-nav">
				{% if app.user %}
					<li class="nav-item">
						{% if current_path == 'user_show' %}
							<a class="nav-link text-white active" href="{{ path('user_show',{'id': app.user.id}) }}">Profil</a>
						{% else %}
							<a class="nav-link text-white" href="{{ path('user_show',{'id': app.user.id}) }}">Profil</a>
						{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link text-bold text-sec" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				{% else %}
					<a class="nav-link text-white text-bold" href="{{ path('app_login') }}">Se connecter</a>
				{% endif %}
			</ul>
		</div>
	</div>
	</div>
</nav>
