{% extends 'base.html.twig' %}

{% block title %}Mes salles | Mettray
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row d-flex justify-content-center mt-2">
				{% if app.user %}
					{% if is_granted('ROLE_USER') %}
						<h2 class="m-4 text-ter text-center">Associations</h2>
						<div class="">
							{% for assoUser in associations %}

								{% if assoUser.rooms is not empty %}
							<p class="text-center mt-3">
								<button class="btn fc-button-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#list{{ assoUser.id }}" aria-expanded="false" aria-controls="list{{ assoUser.id }}">
									{{ assoUser.name }}
								</button>
							</p>
							<div class="collapse" id="list{{ assoUser.id }}">
								<div class="card card-body">
									<ul class="list-group list-group-flush">
										{% set foo = 0 %}
										{% for rooms in assoUser.rooms %}
											{% set foo = foo + 1 %}
											<li class="list-group-item text-ter my-2 text-center">
												Salle :
												<a href="{{path("main_room",{'id': rooms.id})}}" class="btn fc-button-primary">{{rooms.name}}</a>
												<a class="btn align-items-end" data-bs-toggle="collapse" href="#collapseExample{{foo}}" role="button" aria-expanded="false" aria-controls="collapseExample{{foo}}" href="{{path('main')}}">
													<i class="fas fa-eye text-sec"></i>
												</a>
												<div class="">
													<div class="">
														<ul class="list-group">
															<li class="text-ter">Description:
																<span class="text-prim">{{rooms.description}}</span>
															</li>
															<li class="text-ter">Nombres de places:
																<span class="text-prim">{{rooms.nbPlace}}</span>
															</li>
															<li class="text-ter">Localisation:
																<span class="text-prim">{{rooms.location}}</span>
															</li>
														</ul>
													</div>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
								{%  endif %}
							{% endfor %}
						</div>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<p class="text-center mt-3">
							<button class="btn fc-button-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#listadmin" aria-expanded="false" aria-controls="listadmin">
								Admin
							</button>
						</p>
						<div class="collapse" id="listadmin">
							<div class="card card-body">
								<ul class="list-group list-group-flush">
									{% set foo = 0 %}
									{% for rooms in room %}
										{% set foo = foo + 1 %}
										<li class="list-group-item text-ter my-2 text-center">
											Salle :
											<a href="{{path("main_room",{'id': rooms.id})}}" class="btn fc-button-primary">{{rooms.name}}</a>
											<a class="btn align-items-end" data-bs-toggle="collapse" href="#collapseExample{{foo}}" role="button" aria-expanded="false" aria-controls="collapseExample{{foo}}" href="{{path('main')}}">
												<i class="fas fa-eye text-sec"></i>
											</a>
											<div class="">
												<div class="">
													<ul class="list-group">
														<li class="text-ter">Description:
															<span class="text-prim">{{rooms.description}}</span>
														</li>
														<li class="text-ter">Nombres de places:
															<span class="text-prim">{{rooms.nbPlace}}</span>
														</li>
														<li class="text-ter">Localisation:
															<span class="text-prim">{{rooms.location}}</span>
														</li>
													</ul>
												</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
				{% endif %}
			<div class="row">
				<div class="p-0 container col" style="width: 548px; margin: 5rem">
					<div id="calendar-holder"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
