{% extends 'base.html.twig' %}

{% block title %}Mes salles | Mettray
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row d-flex justify-content-center mt-2">
			<div class="col-3">
				{% if app.user %}
					{% if is_granted('ROLE_USER') %}
						<h2 class="m-4 text-ter">Mes salles</h2>
						{% for associations in asso %}
							{% for assoUser in associations.associationUsers %}
								{%  if app.user.id == assoUser.user.id%}
									<div class="m-3 card border-prim" style="width: 18rem;">
										<div class="card-header border-ter bg-prim text-white">
											{{associations.name}}
										</div>
										<ul class="list-group list-group-flush">
											{% set foo = 0 %}
											{% for rooms in associations.roomAssociations %}
												{% set foo = foo + 1 %}
												{% if rooms.room %}
												<li class="list-group-item text-ter">
													Salle :
													<a href="{{path("main_room",{'id': rooms.room.id})}}" class="btn fc-button-primary">{{rooms.room.name}}</a>
													<a class="btn align-items-end" data-bs-toggle="collapse" href="#collapseExample{{foo}}" role="button" aria-expanded="false" aria-controls="collapseExample{{foo}}" href="{{path('main')}}">
														<i class="fas fa-eye text-sec"></i>
													</a>
													<div class="collapse" id="collapseExample{{foo}}">
														<div class="card card-body">
															<ul class="list-group">
																<li class="text-ter">Description:
																	<span class="text-prim">{{rooms.room.description}}</span>
																</li>
																<li class="text-ter">Nombres de places:
																	<span class="text-prim">{{rooms.room.nbPlace}}</span>
																</li>
																<li class="text-ter">Localisation:
																	<span class="text-prim">{{rooms.room.location}}</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<div class="m-3 card border-prim" style="width: 18rem;">
							<div class="card-header bg-prim text-white border-ter">
								Liste des salles
							</div>
							<ul class="list-group list-group-flush border-ter">
								{% for rooms in room %}
									<li class="list-group-item text-ter">
										Salle :
										<a href="{{path("main_room",{'id': rooms.id})}}" class="btn fc-button-primary">{{rooms.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				{% endif %}
			</div>
			<div class="col-9 text-center">
				<div class="col">
					<h2 class="mt-3 text-center text-ter">Salle:
						{{roomid.name}}
					</h2>
					<a href="{{ path("booking_new", {'room': roomid.id}) }}" class="btn fc-button-primary">Réserver</a>
					<div class="p-0 container" style="width: 720px; margin: 2rem">
						<div id="calendar-holder"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="p-0 container col" style="width: 548px; margin: 5rem">
					<div id="calendar-holder"></div>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content text-ter">
								<div class="modal-header bg-prim text-white">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-ter">
									<p id="date"></p>
									<p id="phone"></p>
									<p id="email"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn bg-sec text-ter" data-bs-dismiss="modal">Fermer</button>
									<a id='edit-booking' type="button" class="btn bg-prim text-white">Editer</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
