{{ form_start(form) }}

{% block form_row %}
	<div class="row my-5 text-ter">
		<div class="col-12 my-3">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</div>
		<div class="col-6 my-3">
			{{ form_label(form.nbPlace) }}
			{{ form_widget(form.nbPlace) }}
		</div>
		<div class="col-6 my-3">
			{{ form_label(form.visibility) }}
			{{ form_widget(form.visibility) }}
		</div>
		<div class="col-12 my-3">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
		</div>
	</div>
{% endblock form_row %}
{{ form_end(form) }}
