{% extends 'base.html.twig' %}

{% block title %}Hello Salle
{% endblock %}

{% block body %}
	{% for rooms in room %}
		<h1>{{ rooms.name }}</h1>

		<hr>

		<div class="row">
			<div class="col-6">
				<p>{{ rooms.description }}</p>
			</div>
			<div class="col-2">
				<p>{{ rooms.nbPlace }}</p>
			</div>
			<div class="col-2">
				<p>{{ rooms.location }}</p>
			</div>
			<div class="col-2">
				<p>{{ rooms.room }}</p>
			</div>
		</div>
	{% endfor %}

{% endblock %}
