{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe | Mettray
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Réinitialiser le mot de passe</h1>

		{{ form_start(update_password_form) }}

		{% block form_row %}
			<div class="row my-5 text-ter">
				<div class="col-12 my-3">
					{{ form_widget(update_password_form.password) }}
				</div>
				<div class="col-12 my-3 text-center">
					{{ form_label(update_password_form.submit) }}
					{{ form_widget(update_password_form.submit) }}
				</div>
			</div>
		{% endblock form_row %}
		{{ form_end(update_password_form) }}
	</div>
{% endblock %}
