{% extends 'base.html.twig' %}

{% block title %}Votre profil | Mettray
{% endblock %}

{% block body %}
	<h1 class="text-center m-5 text-ter">Bienvenue
		{{user.Firstname}}</h1>
	<div class="mx-3 mb-5 w-100">
		<div class="row">
			<div class="col-2">
				<div class="card" style="width: 18rem;">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Nom:
							{{user.lastname}}
							{{user.firstname}}
						</li>
						<li class="list-group-item">Email:
							{{user.email}}</li>
						<li class="list-group-item">Téléphone:
							{{user.phone}}</li>
					</ul>
					<a class="btn btn-secondary btn-ter" href="{{path('user_edit',{'id': user.id})}}">Modifier mon profil</a>
					<a class="btn btn-secondary my-1 btn-ter" href="{{path("user_password",{'id': user.id})}}">Modifier mon mot de passe</a>
				</div>
			</div>
			<div class="col-10" align="center">
				<h2 class="text-ter">Mes Associations
					<a class="m-5 btn btn-secondary btn-ter text-ter bold" href="{{path('booking_show_all_by_user')}}">Voir mes réservation</a>
				</h2>
				<div class="d-flex flex-wrap">
					{% for asso in user.associationUsers %}
						<div class="m-3">
							{%  if app.user.id == asso.user.id%}
								<div class="card" style="width: 18rem;">
									<div class="card-header bg-prim">
										{{asso.association.Name}}
									</div>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Email:
											{{asso.association.email}}</li>
										<li class="list-group-item">Téléphone:
											{{asso.association.telephone}}</li>
									</ul>
								</div>

							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
